{% extends "base.html" %}
{% load  crispy_forms_tags %}

{%block content%} 

<div class=" text-center mt-5 ">
    <h1 >Create Account</h1>              
</div>

<div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{form|crispy}}

                <div class="col-md-12 mt-2">
                                    
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="submit" >
                
                </div>
            </form>
        </div>
    </div>
</div>


    
{%endblock%}